@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.welcome-page {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-head {
  font-size: 55px;
}
